<div class="row justify-content-center"> 
    <main>   
        <h1 class="text-center">Chat With Anyone!</h1>


        <div *ngIf="getCookie('SessToken') !== null">
            <div *ngIf="clientChatObject.isChatting === false">
                Available to chat:
                <div id="online-chatters-box">
                    <span *ngFor="let chatter of clientChatObject.chatterList">
                        <button class="badge" [style.background-color]=chatter.secColor [style.color]=chatter.primColor>{{chatter.name}}</button>
                    </span>
                    
                </div>
            </div>

            <div *ngIf="clientChatObject.isChatting !== false" class="chat-box-wrapper">
                <div id="chat-box"> 

                    <div>
                        <div class="chat-message-p1">Test </div>
                        <div class="msg-time">1 Dec, 2021 6:11:14 PM</div>
                    </div>
                    <div *ngFor="let msg of clientChatObject.messageList">
                        <div class="chat-message-p1">{{msg.content}}</div>
                        <div class="msg-time">{{msg.time}}</div>
                    </div>

                </div>
                <div style="width: 800px; margin: auto">
                    <form>
                        <div style="width: 700px; display: inline-block">
                            <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example">
                        </div>
                            <button type="submit" class="btn btn-primary" style="width: 100px"><=</button>
                    </form>
                </div>
            </div>
        </div>

    </main> 
</div>