/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body{
    height: 100vh;
}

#sign-in-page{
    max-width: 600px;
}

.signin-but{
    margin-bottom: 0px !important; 
}

#chatter-box{
    border: 1px blue solid;
    width: 500px;
    margin: auto;
    border-radius: 20px;
    padding: 15px 5px;
}

.color-picker-box{
    display: inline-block;
    border: 1px black solid;
    border-radius: 5px;
    margin: auto;
}
.color-picker-subbox{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin: 8px;
}