<h1>Chat with anyone</h1>

<p>test</p>

<p aria-live="polite"></p>

<div>
    Available to chat:
    <div id="online-chatters-box">
        <span class="badge bg-primary">joe</span>
        <span class="badge bg-primary">john</span>
        <span class="badge bg-primary">jimmy</span>
        <span class="badge bg-primary">joseph</span>
        <span class="badge bg-primary">jack</span>
    </div>
</div>

<div class="chat-box-wrapper">
    <div id="chat-box"> 

        <div>
            <div class="chat-message-p1">Test </div>
            <div class="msg-time">1 Dec, 2021 6:11:14 PM</div>
        </div>
        <div>
            <div class="chat-message-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris vitae ultricies leo integer. Lorem donec massa sapien faucibus. Fames ac turpis egestas maecenas pharetra convallis posuere morbi leo. Mauris pellentesque pulvinar pellentesque habitant morbi. Varius sit amet mattis vulputate enim nulla. In hac habitasse platea dictumst vestibulum. Rhoncus est pellentesque elit ullamcorper. Turpis massa tincidunt dui ut ornare lectus. Faucibus ornare suspendisse sed nisi. Facilisis gravida neque convallis a cras. Gravida dictum fusce ut placerat orci. Ridiculus mus mauris vitae ultricies leo. </div>
            <div class="msg-time">December 1st, 1:14pm</div>
        </div>
        <div>
            <div class="chat-message-p1">Test ajsdkgfhk kjahdg kjhkajdfgh kjhfgdjkh kjdfg </div>
            <div class="msg-time">December 1st, 1:14pm</div>
        </div>
        <div>
            <div class="chat-message-p1">Test </div>
            <div class="msg-time">December 1st, 1:14pm</div>
        </div>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris vitae ultricies leo integer. Lorem donec massa sapien faucibus. Fames ac turpis egestas maecenas pharetra convallis posuere morbi leo. Mauris pellentesque pulvinar pellentesque habitant morbi. Varius sit amet mattis vulputate enim nulla. In hac habitasse platea dictumst vestibulum. Rhoncus est pellentesque elit ullamcorper. Turpis massa tincidunt dui ut ornare lectus. Faucibus ornare suspendisse sed nisi. Facilisis gravida neque convallis a cras. Gravida dictum fusce ut placerat orci. Ridiculus mus mauris vitae ultricies leo.
        Id interdum velit laoreet id. Sapien et ligula ullamcorper malesuada proin libero nunc consequat. At auctor urna nunc id cursus metus. A erat nam at lectus urna duis convallis. Egestas erat imperdiet sed euismod nisi porta lorem mollis. Justo donec enim diam vulputate. Quam elementum pulvinar etiam non quam. Orci ac auctor augue mauris. Ut placerat orci nulla pellentesque dignissim enim sit amet. Nec ultrices dui sapien eget mi proin sed. Enim tortor at auctor urna. Tempus egestas sed sed risus pretium quam. In tellus integer feugiat scelerisque. At risus viverra adipiscing at in tellus integer. Viverra mauris in aliquam sem fringilla ut. Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Eu scelerisque felis imperdiet proin fermentum leo vel. Morbi blandit cursus risus at ultrices mi tempus imperdiet. Purus in massa tempor nec feugiat nisl pretium. Adipiscing commodo elit at imperdiet dui accumsan sit amet nulla.
        Tellus integer feugiat scelerisque varius morbi enim. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada nunc. Urna nunc id cursus metus aliquam eleifend mi in. Tempus iaculis urna id volutpat. Aenean sed adipiscing diam donec. Vitae semper quis lectus nulla at volutpat. Consequat nisl vel pretium lectus quam id leo in vitae. Dui id ornare arcu odio ut sem. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Eu nisl nunc mi ipsum faucibus vitae. Vitae justo eget magna fermentum iaculis eu non diam phasellus. Pellentesque habitant morbi tristique senectus et netus. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque.
        Auctor augue mauris augue neque. Sed cras ornare arcu dui vivamus arcu felis bibendum ut. Iaculis eu non diam phasellus vestibulum lorem. Faucibus a pellentesque sit amet porttitor. Ipsum a arcu cursus vitae congue mauris rhoncus. Nunc vel risus commodo viverra maecenas accumsan. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien. Aliquet porttitor lacus luctus accumsan. Lorem sed risus ultricies tristique nulla aliquet enim. Sed velit dignissim sodales ut. Tristique senectus et netus et malesuada fames ac. Tristique senectus et netus et malesuada fames ac. Laoreet sit amet cursus sit amet dictum sit. Lectus proin nibh nisl condimentum id venenatis a. Cum sociis natoque penatibus et magnis. Tristique senectus et netus et malesuada fames ac turpis egestas. Pretium aenean pharetra magna ac placerat. Odio tempor orci dapibus ultrices in iaculis nunc sed augue. Maecenas sed enim ut sem viverra aliquet eget sit. Lacinia quis vel eros donec ac odio tempor orci.
        Quis hendrerit dolor magna eget est lorem ipsum dolor. Ornare suspendisse sed nisi lacus sed viverra tellus. Tincidunt dui ut ornare lectus sit amet est. Facilisis gravida neque convallis a cras semper auctor neque. Diam in arcu cursus euismod quis viverra nibh cras. Egestas pretium aenean pharetra magna ac placerat vestibulum. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum. Nisi scelerisque eu ultrices vitae. Porttitor massa id neque aliquam vestibulum morbi blandit. Neque vitae tempus quam pellentesque. Viverra accumsan in nisl nisi scelerisque eu. Molestie at elementum eu facilisis.
        Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Tortor posuere ac ut consequat semper viverra nam libero. Sit amet commodo nulla facilisi nullam vehicula ipsum. Turpis in eu mi bibendum neque egestas congue quisque. Tortor aliquam nulla facilisi cras fermentum odio eu. Vitae auctor eu augue ut lectus. Nunc congue nisi vitae suscipit tellus mauris. Aliquet enim tortor at auctor urna nunc id. Tellus in hac habitasse platea. Eu turpis egestas pretium aenean pharetra magna ac placerat. Neque sodales ut etiam sit amet nisl. Ut pharetra sit amet aliquam id diam. Eget aliquet nibh praesent tristique magna sit. Bibendum est ultricies integer quis auctor elit sed vulputate mi. Iaculis urna id volutpat lacus laoreet non. Nunc consequat interdum varius sit amet. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper eget. Suscipit tellus mauris a diam.
        Nam at lectus urna duis convallis convallis. Vel eros donec ac odio tempor orci dapibus. Suscipit tellus mauris a diam maecenas sed enim ut. Ut placerat orci nulla pellentesque dignissim enim sit amet venenatis. At tellus at urna condimentum mattis pellentesque id nibh tortor. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor. Habitant morbi tristique senectus et netus et malesuada fames. Fermentum posuere urna nec tincidunt praesent semper. Tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Vitae sapien pellentesque habitant morbi tristique senectus et. Nibh praesent tristique magna sit amet purus gravida. Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum. Eu lobortis elementum nibh tellus molestie nunc non. Integer eget aliquet nibh praesent tristique magna sit.
    </div>
    <div style="width: 800px; margin: auto">
        <form>
            <div style="width: 700px; display: inline-block">
                <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example">
            </div>
                <button type="submit" class="btn btn-primary" style="width: 100px"><=</button>
        </form>
    </div>
</div>