<div class="container">
    <main id="home-page">
        <h1>About</h1>
        <p>Chatter is an angular server mediated chat client that allows anyone to create an account and chat with anyone else.
            Every conversation is recorded and can be added to by simply continuing chatting with the same person.
            Users have the ability to select their own chat colors and delete their account if they choose to do so.
        </p>
        <h2>Security</h2>
        <p>When logging on, the server will check the username and password against what is stored in the database
            and then give the client an authenticated session token. These tokens expire once the user logs off.
        </p>
    </main>
</div>