<div class="row justify-content-center">
    <main id="sign-in-page" class="col">
        <h1 class="text-center">{{isLoggedIn ? 'Sign Out' : 'Sign In'}}</h1>
    
        <div>
            <div *ngIf="isLoggedIn === false">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input (keyup)="setUsername($event)"  type="email" class="form-control" id="exampleFormControlInput1" maxlength="50" placeholder="Username">
                </div>
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="mb-3">
                    <input (keyup)="setPassword($event)" type="password" placeholder="Password" class="form-control" minlength="5" maxlength="30" id="inputPassword">
                </div>
            </div>
          {{usernameSubmit}}
          {{passwordSubmit}}
            <div class="row">
                
                    <span *ngIf="isLoggedIn === false" class="vstack gap-2 container-fluid align-items-center">
                       <button class="btn btn-primary mb-3 signin-but col-6" (click)="postUser( usernameSubmit, passwordSubmit, 'LOGIN')">Log In</button>
                       <button class="btn btn-primary mb-3 signin-but col-6" (click)="postUser( usernameSubmit, passwordSubmit, 'MAKE')">Make Account</button>
                    </span>
                    <span *ngIf="isLoggedIn === true" class="vstack gap-2 container-fluid align-items-center">
                       <button type="button" class="btn btn-primary mb-3 btn-lg signin-but" (click)="deleteUser( usernameSubmit, getCookie('SessToken'), 'LOGOUT')">Log Out</button>
                       <button type="button" class="btn btn-danger mb-3 btn-lg signin-but" (click)="deleteUser( usernameSubmit, getCookie('SessToken'), 'DELETE')">Delete Account</button>
                    </span>
                    <div *ngIf="APIresultMessage !== null && lastAPIresult === 'failure'" class="alert alert-danger" role="alert" style="margin-top: 16px;">{{APIresultMessage}}</div>
            </div>


        </div>
    </main>
</div>